@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  grid-area: main;
}


#grid-container {
  display: grid;
  grid-template-areas:
    'fav1 fav2 fav3'
    'main main main'
    'footer footer footer';
  grid-template-columns: 1fr 1fr 1fr;
}